/*
    Basic styles and theme defaults

    1 - Typography
    2 - Colors
    3 - Layout
    4 - Alignment
    5 - Buttons
    6 - Forms    
    7 - Sidebar
    8 - Messages
    9 - Tables
    10 - Dashboard
    11 - Images
*/

/* Normalize */
.row {
    margin-left: 0;
    margin-right: 0;
}

/* 1 - Typography */
* {
    font-family: 'Montserrat', sans-serif; 
}

/* 2 - Colors */
:root {
    --color-primary: #3A3335;    
    --color-secondary: #5386E4;
    --color-background: #FBF5F3;
    --color-danger: #D64045;
    --color-success: #69DC9E;   
    --color-sidebar: #222222;
    --color-sidebar-item: #ffffff;   
    --color-button: #0069D9;
    --color-button-text: #ffffff;
}

body {
    background-color: var(--color-background);
}

/* 3 - Layouts */
.site-header {
    height: 10vh;
}

.site-main {
    height: 85vh;
}

.site-main.private {
    height: 90vh;
}

.site-footer {
    height: 5vh;
}

.site-header > nav,
.site-footer > p,
.site-main > .row {
    height: 100%;
}

/* 4 - Alignment */
.align-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 5 - Buttons */
.button {

}

.button:hover {
    
}

.upload-btn label {
    background-color: var(--color-button);
    color: var(--color-button-text);
    padding: .5rem;
    border-radius: .3rem;
    cursor: pointer;
    margin-top: 1rem;
}

/* 6 - Forms */
.form {
    width: 320px;
}

.form .spinner {
    width: 3em;
    height: 3em;
}

/* 7 - Sidebar */
.site-sidebar {
    background-color: var(--color-sidebar);
    height: 100%;
}

.site-sidebar .menu-toggle {
    display: none;
    color: var(--color-sidebar-item);    
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.site-sidebar .nav-item .nav-link {
    color: var(--color-sidebar-item);
    font-size: 1.2em;
}

.site-sidebar .nav-item .nav-link:hover {
    background-color: #333333;
}

.site-sidebar .nav-item ul {
    background-color: #444444;
    border-left: 2px solid #ffffff;
}

.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}

/* 8 - Messages */
label.error {
    color: var(--color-danger);
}

/* 9 - Tables */

/* Table filter */
.table-filter {
    display: flex;
    justify-content: flex-end;    
}

.search-container {
    position: relative;
}

.input-search {
    border: 1px solid #808080;
    border-radius: 16px;
    padding: 5px 10px;    
}

.input-search:focus {
    outline: none;
}

.btn-search {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
}

/* Table pagination */
.table-pagination {
    display: flex;
    justify-content: flex-end;
}

.table-pagination .pagination li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 100%;
    background-color: #f00;    
}

.table-pagination .pagination li:hover {
    cursor: pointer;
}

.table-pagination .pagination li a {
    color: aliceblue;
    padding: 10px;
}

.table-pagination .pagination li a:hover {
    text-decoration: none;
}

.table-pagination .pagination li.active {
    background-color: black;
}

/* 10 - Dashboard */
.card-value {
    font-size: 4em;
    font-weight: 500;
}

/* 11 - Images */
.product-image-preview {
    max-width: 150px;
}

.product-image {
    max-width: 300px;
}